<h1> COMPONENTE APP-ROOT </h1>

<div>
<!-- Componente cabecera -->
<app-cabecera> myCabecera 111 </app-cabecera>
<br>
<br>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a routerLink="/" class="nav-link" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"> List Pedidos</a> 
    </li>
    <li class="nav-item" role="presentation">
        <a routerLink="/pedido" class="nav-link" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"> Detalle Pedido</a> 
    </li>
    <li class="nav-item" role="presentation">
        <a routerLink="/pedido/edit" class="nav-link" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"> Alta Pedido</a> 
    </li>
  </ul>
</div>

<div class="row">
    <div class="col">
       <router-outlet></router-outlet>

    </div>
</div>

<div class="row">
    <div class="col">
       <button class="button" (click)="onIniciarObservable()"> Iniciar observable </button>
       <button class="button" (click)="onSubscribeToObservable()"> Iniciar subscripcion </button>
    </div>
</div>