*{
	margin: 0% auto;
	padding: 0% auto;
	color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(0, 0, 0);
}

header{
  border: 2px solid rgb(0, 102, 255);
  padding: 10px;
  margin: 0px;
  color:rgb(0, 225, 255);
}

h1, h2, h3, h4
{
  margin: 0% auto;
	padding: 0% auto;
  text-decoration: underline overline;
  color: yellow; 
  background-color: rgb(0, 0, 200);
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.div
{
  margin: 0% auto;
  width: 50%;
  border: 3px inset darkslateblue;
  padding: 10px;
  text-align: center;
}

.div-login-text
{
  margin: auto;
  width: 50%;
  border: 1px solid blue;
  padding: 4px;
  text-align: center;
}

body
{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 251, 0);
  border: 1px solid blue;
  margin: 5% auto;
  font-size: 20px;
  padding: 7px;
  text-align: center;
}

p
{
    text-align: center;
    color: yellow;
}

button {
  border: none;
  font-family:  sans-serif;
  background-color: darkred;
  color: rgb(255, 255, 255);
  padding: 15px 16px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #A800FF;
}

button:hover {
  background-color: red;
  color: rgb(255, 255, 255);
  cursor: pointer;
  
}

button:disabled, button[disabled] {
  background-color: rgb(32, 32, 32);
  color: rgb(88, 88, 88);
  border: 2px solid #49006d;
  cursor: context-menu;
}