h1, h2, h3, h4
{
    text-decoration: none;
    padding: 0px;
    color:rgb(0, 217, 255);
    background-color: rgb(0, 26, 255);
    text-align: center;
    font-style: italic;
    font-family: fantasy;
}

li
{
  margin: 0.1% auto;
  color:rgb(0, 60, 255);
  text-decoration: dotted;
}

.div
{
    margin: 0.5% auto;
  width: 90%;
  border: 2px inset darkslateblue;
  padding: 5px;
  text-align: center;
  background-color: rgb(61, 0, 0);
}

.div:hover
{
    margin: 0.5% auto;
  width: 91%;
  border: 2px inset rgb(187, 115, 255);
  padding: 5px;
  text-align: center;
  background-color: darkred;
}

.divmain
{
    margin: 0% auto;
  width: 0% auto;
  border: 1px inset rgb(187, 115, 255);
  padding: 7px;  
  text-align: center;
}

.button
{
    border: none;
    font-family:  sans-serif;
    background-color: darkred;
    color: rgb(255, 255, 255);
    padding: 15px 16px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #A800FF;
  }
  
  .button:hover
  {
    background-color: red;
    color: rgb(255, 255, 255);
    cursor: cell;
    
  }

  .button:disabled, .button[disabled]
  {
    background-color: rgb(32, 32, 32);
    color: rgb(88, 88, 88);
    border: 2px solid #49006d;
    cursor: context-menu;
  }

  .entregado
  {
    color: rgb(0, 255, 0);
  }

  .noEntregado
  {
    color: red;
  }

  .list-group-item
  {
    color: rgb(255, 255, 255);
    background-color: rgb(41, 0, 3);
  }

  .list-group
  {
    color: rgb(255, 0, 255);
  }