
<h1> Lista de pedidos </h1>
<div class="divmain" [ngClass]="estadoListadoPedidos">


<div *ngIf="pedidos.length == 0">No hay pedidos</div>

<ul class="list-group">
    <div class="div" *ngFor="let p of pedidos">
        <li  class="list-group-item {{ ! p.entregado ? 'disabled': ''}}"  >    
            <a [routerLink]="['/pedido', p.id]">
            <app-item-pedido 

            (entregaRealizada)="onTerminoEntrega($event)"
            [id]="p.id" 
            descripcion="{{p.desc}}" 
            [entregado]="p.entregado">

        </app-item-pedido>   
    </a>

        </li>
    </div>
    
</ul>
    

<!--
<ul class="list-group">
    <div class="div" *ngFor="let p of pedidos">
        <li  class="list-group-item {{ p.entregado ? 'disabled': ''}}"  >    
            <!--{{ p.id }}  - {{ p.desc }} - {{ p.fechaPedido | date: 'short':'UTC':'es'}}   
            <app-item-pedido [id]="p.id" descripcion="{{p.desc}}">  </app-item-pedido>
        </li>
    </div>
</ul>    


<ul class="list-group">
    <div class="div" *ngFor="let p of pedidos">
        <li> {{ p.id }} {{ p.desc }} </li>
                <li  class="list-group-item {{ p.entregado ? 'disabled': ''}}"  >{{ p.id }}  {{ p.desc }}</li>
    </div>
</ul>
-->
</div>

<br>
<br>

<button class="button" (click)="onAltaPedido()"[disabled]="! modoNuevo"> Alta pedido </button>
